{
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [2, "only-multiline"],
    "no-console": 0,
    "no-global-assign": 0,
    "no-unused-vars": [1, { "vars": "all", "args": "none", "argsIgnorePattern": "^_.*$" }],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 2017
  },
  "plugins": [],
  "globals": {
    "process": true,
    "ga": true,
    "module": true,
    "__dirname": true,
    "require": true
  }
}
