dist/*
src/engine*
node_modules/
*.wat
*.log
src/midi*
!src/midiKeyboard
src/spectrum_viz*
src/polysynth.js
src/polysynth_bg.js
src/polysynth_bg.d.ts
src/polysynth_bg.wasm
src/waveform_renderer*
.env
!src/midiEditor*
polysynth.d.ts
litegraph.js
cypress/videos
public/wavetable.wasm
public/granular.wasm
public/event_scheduler.wasm
