dist/*
src/engine*
node_modules/
*.wat
*.log
src/midi*
!src/midiKeyboard
src/spectrum_viz*
src/polysynth.js
src/polysynth_bg.js
src/polysynth_bg.d.ts
src/polysynth_bg.wasm
src/waveform_renderer*
.env
!src/midiEditor*
polysynth.d.ts
litegraph.js
cypress/videos
public/wavetable.wasm
public/granular.wasm
public/event_scheduler.wasm
public/sidechain.wasm
public/noise_gen.wasm
public/distortion.wasm
public/wavetable_no_simd.wasm
public/adsr.wasm
public/sinsy.*
public/note_container.wasm
public/sample_editor.wasm
src/note_container*
!src/midiUtils.ts
.ipynb_checkpoints
*/.ipynb_checkpoints/*
src/polysynth_bg.wasm.d.ts
