dist/*
src/engine*
node_modules/
*.wat
*.log
src/midi*
!src/midiKeyboard
src/spectrum_viz*
src/polysynth.js
src/polysynth_bg.js
src/polysynth_bg.d.ts
src/polysynth_bg.wasm
src/waveform_renderer*
.env
!src/midiEditor*
polysynth.d.ts
litegraph.js
cypress/videos
public/wavetable.wasm
public/granular.wasm
public/event_scheduler.wasm
public/sidechain.wasm
public/noise_gen.wasm
public/distortion.wasm
public/wavetable_no_simd.wasm
public/adsr.wasm
public/sinsy.*
public/note_container.wasm
public/sample_editor.wasm
public/delay.wasm
src/note_container*
!src/midiUtils.ts
.ipynb_checkpoints
*/.ipynb_checkpoints/*
src/polysynth_bg.wasm.d.ts
public/sample_player.wasm
src/wav_decoder*
**/.DS_Store
public/looper.wasm
public/midi_quantizer.wasm
public/dsp.wasm
public/engine.wasm
public/midi.wasm
public/polysynth.wasm
public/quantizer.wasm
public/spectrum_viz.wasm
public/wav_decoder.wasm
public/waveform_renderer.wasm
public/compressor.wasm
public/vocoder.wasm
public/level_detector.wasm
public/wavegen.wasm
public/multiband_diode_ladder_distortion.wasm
public/midi_renderer.wasm
public/oscilloscope.wasm
public/spectrum_viz_full.wasm
public/sampler.wasm
public/safety_limiter.wasm
