{
  "jsxSingleQuote": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "importOrder": ["<THIRD_PARTY_MODULES>", "(?:src/(.*))|(?:^[./].*$)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
