{
  "jsxSingleQuote": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "src/(.*)", "^[./].*$"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderBuiltinModulesToTop": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ],
  "parser": "babel-ts"
}
