<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <link rel="stylesheet" href="./index.css" type="text/css" />
</head>

<body>
  <div height="100vh" width="100vh" id="canvases">
    <div height="720" width="100vh" id="canvases-wrapper">
      <svg class="notes" height="780" width="4000" id="background-svg"></svg>
      <svg class="notes" height="780" width="4000" id="foreground-svg"></svg>
    </div>
  </div>
  <div id="root"></div>
</body>

</html>
