<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <script type="text/javascript">
      // There's an anoying issue where the `AudioContext`s of the various different libraries I'm using differ from each
      // other, causing errors when connecting betwen different components.
      //
      // Here, we patch the global `AudioContext` instance so that constructing new instances of it just returns the same
      // pre-constructed instance.
      const OldAudioContext = globalThis.AudioContext;

      const globalContext = new AudioContext();

      globalThis.AudioContext = function SingletonAudioContext() {
        return globalContext;
      };
    </script>
    <!-- WavyJones -->
    <script src="https://ameo.link/u/bin/6ky/rendered" type="text/javascript"></script>
    <link rel="stylesheet" href="./index.css" type="text/css" />
  </head>

  <body>
    <div id="view-context-manager"></div>
    <div id="view-context-switcher"></div>
    <main id="content">
      <div width="100vh" id="canvases" style="display: none;">
        <div height="720" width="100vh" id="canvases-wrapper">
          <svg class="notes" height="1400" width="4000" id="background-svg"></svg>
          <svg class="notes" height="1400" width="4000" id="foreground-svg"></svg>
        </div>
      </div>
    </main>
    <div id="root"></div>
  </body>
</html>
