<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <!-- Modified version of https://raw.githubusercontent.com/grame-cncm/faust/master-dev/architecture/webaudio/webaudio-wasm-standalone-wrapper.js -->
    <script type="text/javascript" src="/faust2webaudio.js"></script>
  </head>

  <body>
    <div id="view-context-manager"></div>
    <div id="view-context-switcher"></div>
    <main id="content">
      <div height="100vh" width="100vh" id="canvases" style="display: none;">
        <div height="720" width="100vh" id="canvases-wrapper">
          <svg class="notes" height="1400" width="4000" id="background-svg"></svg>
          <svg class="notes" height="1400" width="4000" id="foreground-svg"></svg>
        </div>
      </div>
    </main>
    <div id="root"></div>
  </body>
</html>
