<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <style>
    html {
      height: 100vh;
      overflow: hidden;
    }

    body {
      background-color: #151515;
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
    }

    svg {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
    }

    .grid-line-1 {
      fill: rgb(39, 39, 39);
    }

    .grid-line-2 {
      fill: rgb(62, 62, 62);
    }

    .measure-line {
      stroke: #666;
      stroke-width: 1px;
      z-index: 4;
    }

    .note {
      fill: rgb(116, 100, 225);
    }

    .note.selected {
      fill: rgb(170, 100, 225);
      stroke-width: 1px;
      stroke: #661166;
    }

    #canvases {
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    #canvases-wrapper {
      position: relative;
    }
  </style>
</head>

<body>
  <div height="100vh" width="100vh" id="canvases">
    <div height="720" width="100vh" id="canvases-wrapper">
      <svg height="780" width="4000" id="background-svg"></svg>
      <svg height="780" width="4000" id="foreground-svg"></svg>
    </div>
  </div>
  <div id="root"></div>
</body>

</html>
