<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="origin-trial" content="AoiY10kKU8SneGIdwFOcHukRRAYQpHwtx8unkZhbPjl4S8hVCEemZgWAITkcbFDnWvBDMclWHAffGJc6tlKSHAIAAABaeyJvcmlnaW4iOiJodHRwczovL25vdGVzLmFtZW8uZGVzaWduOjQ0MyIsImZlYXR1cmUiOiJXZWJBc3NlbWJseVNpbWQiLCJleHBpcnkiOjE2MTM1MTcwOTh9">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <script type="text/javascript">
      // There's an anoying issue where the `AudioContext`s of the various different libraries I'm using differ from each
      // other, causing errors when connecting betwen different components.
      //
      // Here, we patch the global `AudioContext` instance so that constructing new instances of it just returns the same
      // pre-constructed instance.
      const OldAudioContext = globalThis.AudioContext;

      const globalContext = new AudioContext({ sampleRate: 44100, latencyHint: 'interactive' });
      globalContext.globalVolume = new GainNode(globalContext);
      globalContext.globalVolume.gain.value = 1;
      globalContext.globalVolume.connect(globalContext.destination);

      const globalVolume = localStorage.getItem('globalVolume');
      if (globalVolume !== null) {
        globalContext.globalVolume.gain.value = +globalVolume / 100;
      }

      globalThis.AudioContext = function SingletonAudioContext() {
        return globalContext;
      };
    </script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet" />
    <!-- WavyJones; this should eventually be lazy-loaded -->
    <script src="/wavyjones.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css"
    />
  </head>

  <body>
    <div id="view-context-manager"></div>
    <div id="view-context-switcher"></div>
    <main id="content"></main>
    <div id="root"></div>
  </body>
</html>
