@import 'src/colors.scss';

.fm-synth-demo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fm-synth-demo-controls {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;

  > div {
    overflow-y: auto;
  }
}

.fm-synth-main-control-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  min-width: 400px;
}

@media screen and (max-width: 799px) {
  .fm-synth-main-control-panel {
    min-width: 100vw;
  }

  select, input, button {
    font-size: 10px;
  }
}

.fm-synth-filter-control-panel {
  display: flex;
  background: rgb(35, 35, 35);
  min-width: 530px;
  padding: 14px 14px 8px;
  opacity: 0.95;
  flex-basis: 700px;
  flex-direction: column;
}

.midi-keyboard-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: flex-end;
}

#root div.fm-synth-main-control-panel
  > div:nth-child(1)
  > div:nth-child(1)
  > div.draggable
  > span {
  color: rgb(216, 36, 36) !important;
}

#simd-status {
  max-width: 200px;
}

// Make github corner smaller on Mobile so it doesn't cover up important UI
@media screen and (max-width: 799px) {
  .github-corner > svg {
    transform: scale(0.5) translate(40px, -40px);
  }

  .ReactPiano__NoteLabelContainer {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .midi-keyboard {
    max-width: calc(100vw - 400px);
  }
}
