@import 'src/colors.scss';

@keyframes borderColor {
  0% {
    border-color: #0a414e;
  }
  25% {
    border-color: #280550;
  }
  50% {
    border-color: #4d063d;
  }
  75% {
    border-color: #1a0b5c;
  }
  100% {
    border-color: #0a414e;
  }
}

.fm-synth-ui {
  display: flex;
  flex-direction: column;
  color: white;

  div[data-hovered='true'] {
    $hover-color: lighten($highlight-2, 50);
    background-color: mix($hover-color, #000, $weight: 10%);
  }

  .modulation-matrix,
  .operator-square,
  .operator-select {
    border: 1px solid;
    animation: borderColor 15s infinite linear;
  }

  .modulation-matrix {
    display: flex;
    flex-direction: column;
    width: 376px;

    .operator-row {
      display: flex;
      flex-direction: row;

      > div {
        flex-basis: 36px;
        height: 36px;
        display: flex;
        font-size: 12.5px;
        justify-content: center;
      }

      .operator-select {
        cursor: pointer;
        background-color: $highlight-1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .operator-select.operator-selected {
        background-color: $highlight-4;
      }

      .operator-square {
        align-items: center;
        cursor: pointer;
      }
      .operator-square[data-active='true'] {
        background-color: $highlight-4;
      }

      .output-weight {
        background-color: $highlight-2;
      }
    }
  }

  .configure-effects {
    .effects-controls {
      display: flex;
      flex-direction: column;
      max-height: 330px;
      overflow: auto;
    }

    .effect-management {
      display: flex;
      flex-direction: row;

      button {
        width: 20px;
      }
      button:hover {
        font-weight: bold;
      }

      .effect-title {
        width: 300px;
        text-align: center;
        margin-left: 8px;
        margin-right: 28px;
      }
    }
  }

  .main-effect-chain-selector {
    background-color: $highlight-5;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    margin: 2px 0px;
  }
  .main-effect-chain-selector[data-active='true'] {
    background-color: $highlight-4;
  }
  .main-effect-chain-selector:hover {
    font-weight: bold;
  }
}
