.fm-synth-ui {
  display: flex;
  flex-direction: column;

  .operators {
    display: flex;
    flex-direction: column;
    width: 376px;
    border: 1px solid #555;

    .operator-row {
      display: flex;
      flex-direction: row;

      > div {
        flex-basis: 36px;
        height: 36px;
        display: flex;
        font-size: 12.5px;
      }

      .operator-select {
        cursor: pointer;
        background-color: #626d8d;
      }

      .operator-select.operator-selected {
        background-color: #e23d4d;
      }

      .operator-square {
        align-items: center;
        // padding: 3px;
        border: 1px solid #555;
      }

      .output-weight {
        background-color: #33bbdd33;
      }
    }
  }
}
