$eq-background-color: #262626;
$eq-knob-color: #02bddb;

svg.equalizer {
  background-color: #242424;
  border: 1px solid #999;

  .equalizer-knob {
    stroke: #040404;
    stroke-width: 1px;
    fill: $eq-knob-color;
  }

  .equalizer-knob.equalizer-knob-disabled {
    fill: #888;
  }

  .eq-knob-label {
    font-size: 12px;
    stroke: #222;
    pointer-events: none;
    user-select: none;
  }

  .eq-line {
    stroke: #ddd;
    fill: none;
  }

  .negative-value-divider-line {
    stroke: #444;
  }

  .fader-divider-line {
    stroke: rgba(222, 222, 222, 0.2);
  }

  .eq-level {
    fill: rgba(20, 150, 200, 0.15);
  }
}
