@import 'colors.scss';

#view-context-manager {
  position: absolute;
  right: 0;
  padding: 6px;
  z-index: 7;
}

#view-context-switcher {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

.view-context-icon {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  height: 32px;
  width: 32px;
  color: #fff;
  border: 1px solid #666;
  cursor: pointer;
  background-color: $highlight-5;
  font-size: 13.5px;
  user-select: none;
}

input.view-context-switcher-tab-renamer {
  width: 90%;
  background-color: $highlight-2;
  color: #111;
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid #666;
  height: 70%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.vc-close-tab-icon {
  color: $highlight-4;
  font-size: 20px;
  font-family: 'Hack', 'Input Mono', 'Input', 'Oxygen Mono', monospace;
  margin-right: 4px;
  margin-left: 3px;
}

.vc-close-tab-icon:hover {
  font-weight: bolder;
}

.vc-switcher-tab-title {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  text-align: center;
}

.global-volume-slider-container {
  z-index: 10000000;
  position: absolute;
  right: 41px;
  background-color: #181818;
  height: 132px;
  width: 44px;
  padding-top: 20px;
  padding-bottom: 9px;
}

.add-module-picker-container {
  z-index: 10000000;
  position: absolute;
  right: 41px;
  background-color: #181818;

  .module-description {
    font-size: 13.5px;
    font-family: 'Hack', 'Input Mono', 'Input', 'Oxygen Mono', monospace;
    padding: 6px 2px;
    min-height: 28px;
    box-sizing: border-box;
  }
}
