.granulator-wrapper {
  margin-top: 20px;
}

.granulator {
  margin-left: 10px;
  margin-right: 10px;
}

.granulator hr {
  margin-top: 20px;
}

.waveform-renderer {
  background-color: #000;
}

.granulator-start-bar {
  stroke: greenyellow;
  stroke-width: 4px;
  display: none;
  cursor: ew-resize;
}

.granulator-end-bar {
  stroke: rgb(168, 0, 28);
  stroke-width: 4px;
  display: none;
  cursor: ew-resize;
}

.granulator-overlay {
  position: absolute;
  left: 10px;
  z-index: 2;
}

.granulator-overlay > * {
  z-index: 2;
}

.granulator-selection-indicator {
  fill: rgba(22, 140, 200, 0.2);
  cursor: grab;
}

.sample-recorder h2 {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 8px;
}

.sample-editor-stats {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #232323;
}

.sample-editor-stats .sample-editor-stats-item {
  display: flex;
  flex-direction: row;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 2px;
}

.sample-editor-stats .sample-editor-stats-item .sample-editor-stats-item-label {
  display: block;
  margin-right: 10px;
  font-weight: bold;
}

.sample-editor-stats .sample-editor-stats-item .sample-editor-stats-item-label::after {
  content: ':';
}

.sample-editor-stats .sample-editor-stats-item .sample-editor-stats-item-value {
  display: block;
}
