.midi-import-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 400px;
  margin: auto;
  background-color: #121212;

  h2 {
    text-align: center;
  }

  .track-input-item {
    display: flex;
    flex-direction: row;
  }

  button {
    margin-top: 10px;
    height: 30px;
  }
}
