.range-input {
  padding-bottom: 5px;

  input {
    background-color: rgb(54, 54, 54);
    color: rgb(221, 221, 221);
    outline: none;
    border: none;
    margin-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: content-box;
  }
}
