.control-panel-root-node {
  .control {
    .control-panel .configure-input-button {
      position: absolute;
      top: 2px;
      left: 1px;
      cursor: pointer;
      font-size: 12px;
    }
  }
}

.control-panel-input-configurator {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 6px;
    }
  }
}
