.sequencer {
  svg {
    width: 100%;
  }

  rect {
    fill: #181818;
    stroke: #ddd;
    cursor: pointer;
  }

  rect:hover {
    fill: rgb(99, 116, 99);
  }

  rect.marked {
    fill: rgb(85, 194, 85);
  }

  rect.marked:hover {
    fill: rgb(120, 148, 120);
  }

  rect.active {
    fill: rgb(194, 85, 85);
  }
  rect.active:hover {
    fill: rgb(148, 120, 120);
  }
}

.sequencer-input-select {
  .voice-input {
    display: flex;
    flex-direction: row;
  }
}

.editing-voice-selector {
  height: 16px;
  width: 16px;
  background-color: #43a;
  margin: 12px;
  cursor: pointer;
}

.editing-voice-selector.selected {
  background-color: #96f;
}

.sequencer-grid-wrapper {
  display: flex;
  flex-direction: row;
}

.editing-voice-selectors {
  display: flex;
  flex-direction: column;
}
