.fs-access-dialog {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  margin: auto;
  background-color: #232323;
  padding: 10px;

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      width: 140px;
      align-self: center;
      justify-content: center;
      margin-top: 15px;
    }
  }
}
