.save-preset-modal {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  input {
    margin-left: 7px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;

    button {
      width: 100px;
      margin-right: 10px;
    }
  }
}
