.play-sample-icon {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 3px;
  user-select: none;
}

.sample-library {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.sample-row {
  display: flex;
  flex-direction: row;

  span {
    overflow: hidden;
  }
}

.load-samples-buttons {
  display: flex;
  flex-direction: row;

  button {
    margin-right: 4px;
  }
}

.sample-search {
  margin-bottom: 6px;
  margin-top: 7px;

  input {
    margin-left: 4px;
    background: #242424;
    border: 1px solid #555;
    color: #eee;
  }
}
