.play-sample-icon {
  cursor: pointer;
}

.sample-library {
  display: flex;
  flex-direction: column;
}

.sample-row {
  display: flex;
  flex-direction: row;
}

.load-samples-buttons {
  display: flex;
  flex-direction: row;
}
