.global-menu-button {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 3px;
  cursor: pointer;
  background-color: #333;
  z-index: 3;
}

.global-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 100vh;
  z-index: 10000000;
  background-color: #121212;
  transition: right 200ms;

  .global-menu-item {
    cursor: pointer;
    font-family: 'Hack', 'Input Mono', 'Input', 'Oxygen Mono', monospace;
    font-size: 14px;
    border-bottom: 1px solid #333;
    padding: 4px 2px;
  }

  global-menu-item:hover {
    background-color: #666;
  }

  .retract-global-menu-button {
    width: 100%;
    font-size: 25px;
    text-align: left;
    padding-right: 8px;
  }

  .login-status {
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .logged-in-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -10px;

    button {
      margin-top: 2px;
    }
  }
}

.global-tempo-control {
  display: flex;
  border-bottom: 1px solid #333;

  p {
    font-family: 'Hack', 'Input Mono', 'Input', 'Oxygen Mono', monospace;
    font-size: 13.5px;
    margin: 0;
    padding: 4px 2px;
  }

  input {
    font-family: 'Hack', 'Input Mono', 'Input', 'Oxygen Mono', monospace;
    background: #252525;
    color: #eee;
    padding: 4px;
    height: 24px;
    width: 126px;
    text-align: center;
    margin-left: 12px;
    border: 1px solid #6a6a6a;
    box-sizing: border-box;
  }
}

.global-menu-backdrop {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  left: 0;
  top: 0;
}
