.global-menu-button {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 3px;
  cursor: pointer;
  background-color: #333;
}

.global-menu {
  position: fixed;
  top: 10px;
  right: 52px;
  width: 160px;
  z-index: 10000000;
  background-color: #555;

  .global-menu-item {
    cursor: pointer;
    font-family: 'Hack', monospace;
    font-size: 14px;
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.global-menu-backdrop {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  left: 0;
  top: 0;
}
