* {
  scrollbar-color: rgb(27, 27, 27);

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
  }

  ::-webkit-scrollbar-thumb {
    background: #424242;
    outline: 1px solid #333;
  }
}

html {
  overflow-x: hidden;
}

body {
  background-color: #151515;
  margin: 0;
  padding: 0;
  color: #ddd;
  height: 100vh;
}

#content {
  width: 100%;
}

svg.notes {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.grid-line-1 {
  fill: rgb(39, 39, 39);
}

.grid-line-2 {
  fill: rgb(62, 62, 62);
}

.measure-line {
  stroke: #666;
  stroke-width: 1px;
  z-index: 4;
}

.beat-line {
  stroke: rgba(150, 150, 150, 0.15);
  stroke-width: 1px;
  z-index: 4;
}

.note {
  fill: rgb(116, 100, 225);
}

.note.selected {
  fill: rgb(170, 100, 225);
  stroke-width: 1px;
  stroke: #661166;
}

main#content {
  left: 0;
  top: 32px;
  position: absolute;
}

#canvases {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#canvases-wrapper {
  position: relative;
}

.selection-box {
  stroke: #222;
  stroke-width: 1;
  fill: rgba(200, 200, 200, 0.2);
}

.cursor-gutter {
  fill: #616;
}

.cursor {
  stroke: rgba(222, 222, 222, 0.8);
}

.loop-start-marker {
  stroke: rgba(18, 222, 18, 0.8);
}

.loop-end-marker {
  stroke: rgba(222, 18, 18, 0.8);
}

a {
  color: #ff2e88;
}
a:visited {
  color: #a89984;
}

button {
  background-color: rgb(54, 54, 54);
  color: rgb(161, 161, 161);
  border: none;
  outline: 1px transparent;
  font-family: 'Hack', monspace;
  cursor: pointer;
}
