.midi-editor {
  margin-top: 20px;
  margin-bottom: 10px;

  .midi-editor-controls {
    display: flex;
    flex-direction: row;
    margin-left: 13px;
    margin-bottom: 8px;
    align-items: flex-end;

    .midi-editor-control-button {
      cursor: pointer;
      font-size: 36px;
      border: 1px solid #aaa;
      height: 44px;
      width: 44px;
      line-height: 44px;
      user-select: none;
      margin-left: -1px;
    }

    .midi-editor-control-button.active {
      color: magenta;
    }

    .midi-editor-control-button:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .labeled-container {
      display: flex;
      flex-direction: column;

      label {
        line-height: 13px;
        font-size: 10px;
        margin-left: 2px;
      }
    }

    input {
      width: 50px;
      height: 42px;
      background-color: #151515;
      color: #bababa;
      border: 1px solid #aaa;
      outline: none;
    }

    .midi-editor-beat-snap-controls {
      display: flex;
      flex-direction: row;
      max-width: 90px;
      flex-wrap: wrap;

      .midi-editor-beat-snap-control-button {
        height: 23px;
        min-width: 22px;
        flex-basis: 22px;
        border: 1px solid #aaa;
        box-sizing: border-box;
        cursor: pointer;
        padding-left: 5px;
        font-size: 18px;
        line-height: 22px;
        margin-left: -1px;
      }
      .midi-editor-beat-snap-control-button:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      .midi-editor-beat-snap-control-button:nth-child(n + 5) {
        border-top: none;
      }
      .midi-editor-beat-snap-control-button[data-active='true'] {
        background-color: #820082;
      }
    }
  }
}

.cv-outputs-wrapper {
  position: absolute;
  bottom: 20px;
  background-color: #1b1b1b;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  width: calc(100% - 4px);
  min-height: 20px;
  max-height: 500px;
  overflow-y: auto;
}
